MinGW_TDM-Windows
/dlg
/build
/dist
*.ipch
*.obj
Debug
Release
.vs/tvdd/v16/.suo
*.db
.vs
build
/tvdd/CMakeLists.txt
REL_ENG
*.json
*.json
*.json
Doc/TurboVision для C++/Часть 1.txt
Doc/TurboVision для C++/Часть 2.txt
*.pdf
*.djvu
